.products-title {
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
}

.products-list {
  list-style: none;
}

.products-item {
  background-image: url(../../img/Line-320.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 20px;
}

.products-item-data {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}

.products-yet-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;
}
