.catalog-products {
  background-color: @white;
  padding: 0 20px 7px 20px;
  margin-top: -28px;
}

.catalog-products .title {
  padding-top: 27px;
  margin-bottom: 40px;
}

.products-title {
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
  width: 95px;
}

.products-list {
  list-style: none;
  padding: 0;
}

.products-item {
  background-image: url("../../img/Line-320.png");
  background-repeat: no-repeat;
  background-position: 0% 5%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 2px;
}

.products-image {
  grid-row: 1 / span 2;
  grid-column: 1;
  text-align: center;
}

.button-products {
  width: 100%;
  font-size: 16px;
}

.products-order {
  grid-row: 4;
  grid-column: 1 / span 2;
  text-align: center;
  margin-bottom: 19px;
}

.products-item-data {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  margin-bottom: 15px;
}

.products-yet-subtitle {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;
  margin-top: -10px;
  margin-bottom: 23px;
}

.products-termin {
  float: left;
  text-align: left;
}

.products-description {
  text-align: right;
}

.products-item-yet {
  display: block;
  margin-top: -8px;
}

.products-yet {
  text-align: center;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 50% 15px;
  height: 30px;
}

.products-item-yet .products-title {
  width: auto;
  padding-top: 22px;
  text-align: center;
}

/* @table-width */

@media (min-width: @table-width) {
  .catalog-products {
    padding: 40px 30px;
    margin-top: -65px;
  }

  .catalog-products .title {
    margin-bottom: 60px;
  }

  .products-list {
    display: flex;
    flex-wrap: wrap;
    place-items: flex-end;
    justify-content: space-between;
  }

  .products-item {
    min-width: 323px;
    width: 35%;
    grid-template-columns: 1fr;
    background-image: linear-gradient(@white 100px, @background_gray 8%);
    height: 511px;
    margin-bottom: 40px;

    &:last-child {
      border: 2px solid @grey;
      height: 408px;
      background: @white;
    }
  }

  .products-image {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }

  .products-title {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
    margin: 0 auto;
    grid-row: 2;
    grid-column: 1;
  }

  .products-item-data {
    font-size: 16px;
    width: 250px;
    margin: 0 auto;
    grid-row: 3;
    grid-column: 1;
  }

  .products-termin {
    float: none;
    margin-bottom: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid @special_grey;
    width: 100%;
  }

  .products-description {
    text-align: right;
    margin-bottom: 14px;
    padding-bottom: 7px;
    margin-top: -21px;
  }

  .products-order {
    margin-bottom: 40px;
    grid-row: 4;
    grid-column: 1;
  }

  .button-products {
    width: 250px;
    height: 40px;
  }

  .products-item-yet {
    display: grid;
  }

  .products-yet {
    background-size: 60px 60px;
    height: 60px;
    grid-row: 1;
    grid-column: 1;
  }

  .products-item-yet .products-title {
    padding-top: 100px;
    width: 150px;
    grid-row: 2;
    grid-column: 1;
  }

  .products-yet-subtitle {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto;
    grid-row: 3;
    grid-column: 1;
  }
}

/* @desktop-width */

@media (min-width: @desktop-width) {
  .catalog-products {
    padding: 22px 110px 37px 110px;
  }

  .catalog-products .title {
    padding-top: 70px;
  }

  .products-item {
    min-width: 245px;
    width: auto;
  }

  .products-title {
    line-height: 21px;
  }

  .products-item-data {
    width: 180px;
  }

  .button-products {
    width: 180px;
  }
}
