.contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.contacts__title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
}

.contacts__text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}
