.example {
  padding: 0 20px;
  margin: 0 auto;
}

.example__list {
  margin-top: -15px;
}

.example__item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 33px;
}

.example__stats-item {
  position: relative;
  display: flex;
  width: 124px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid @line-grey;
  border-radius: 5px;

  .example__stats-subtitle {
    @include pad-set(17px);
  }

  &--days {
    margin-left: 16px;

    .example__stats-subtitle {
      @include pad-set(24px);
    }
  }
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  color: @special_dark-grey;
  line-height: 18px;
  margin-bottom: 40px;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: auto;
}

.example__description {
  font-family: "Arial", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 80px;
  color: @special_dark-grey;
  background-color: @background_gray;
}

.example__cost {
  text-transform: uppercase;
  line-height: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 42px;
}

.example__cost__price {
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}

.example__before-text,
.example__after-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* @table-width */

@media (min-width: @table-width) {
  .example {
    padding: 0 30px;
    margin-top: -50px;
    background: linear-gradient(@white 65%, @background_gray 35%);
  }

  .example__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    padding-bottom: 35px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 60px;
    padding-top: 12px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }

  .example__cost {
    flex: 2;
    display: block;
    text-align: end;
    font-size: 20px;

    &__price {
      text-align: end;
      padding-top: 5px;
    }
  }

  .example__img {
    text-align: center;
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .example__before--after {
    text-align: center;
    grid-row: 3;
    grid-column: 1 / span 2;
  }
}

/* @desktop-width */

@media (min-width: @desktop-width) {
  .example {
    margin-top: -100px;
    padding: 0;
    background: linear-gradient(@white 30%, @background_gray 30%);
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 110px;
  }

  .example__title {
    grid-row: 1;
    grid-column: 1;
  }

  .example__text {
    grid-row: 2;
    grid-column: 1;
    margin-top: 90px;
    margin-bottom: 55px;
    width: 75%;
  }

  .example__item {
    justify-content: flex-start;
    column-gap: 45px;
  }

  .example__list {
    grid-row: 3;
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .example__stats-item {
    width: 160px;
  }

  .example__description {
    background-color: @background_gray;
    bottom: -8px;
    width: 135px;
  }

  .example__cost {
    flex: none;
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 30px;
    column-gap: 64px;

    &__price {
      padding-top: 0;
    }
  }

  .example__img {
    grid-column: 2;
  }

  .example__before--after {
    grid-row: 3;
    grid-column: 2;
  }
}
