.example__title {
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  font-family: Arial, Helvetica, sans-serif;
  color: @special_dark-grey;
  line-height: 18px;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.example__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: @special_dark-grey;
}

.example__cost {
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}

.example__before-text, .example__after-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
