.page-footer__logo {
  padding: 40px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright {
  background-image: url("../../img/Line.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.copyright__link {
  text-decoration: none;
  color: @special_dark-grey;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 20px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo--svg path {
  &:hover {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }
}

/* @table-width */

@media (min-width: @table-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    margin: 22px 0;
  }

  .page-footer__logo {
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    padding: 30px;
  }

  .social {
    grid-row: 1;
    grid-column: 2;
    background-image: none;
  }

  .copyright {
    grid-row: 1;
    grid-column: 3;
    background-image: none;
  }

  .copyright__text {
    font-size: 16px;
  }

  .copyright__logo {
    padding-top: 7px;
    padding-right: 30px;
  }

  .copyright__link {
    align-items: end;
    justify-content: end;
    column-gap: 22px;
    padding: 0;
  }
}

/* @desktop-width */

@media (min-width: @desktop-width) {
  .page-footer__logo {
    padding-left: 110px;
  }

  .copyright__link {
    padding-right: 110px;
  }
}
