.selection__discription {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.field-input,
.form__diet__item,
.field-label,
.lable-additionally {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.item-name {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form-required {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
