.form__comment__item {
  margin-top: 15px;
  border: none;
  position: relative;
}

.field-input-comment {
  margin-left: 0;
  padding-right: 0;
  height: 150px;
}


/* @table-width */

@media (min-width: @table-width) {
  .field-input-comment {
    height: 175px;
    margin: 40px 0;
  }
}

/* @desktop-width */

@media (min-width: @desktop-width) {
  .field-input-comment {
    margin: 0 0 40px 0;
  }
}
