.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
  color: @black;
  text-align: center;
  margin: 44px;
}

.nav-list__no-current {
  text-decoration: none;
  color: @black;
}
