.promo {
  background-image: url("../img/index-background-promo.png");
  background-repeat: no-repeat;
  height: 480px;
  width: 100%;
  color: @white;
}

.promo__wrapper {
  background-color: rgba(@green, .85);
  height: 302px;
}

.promo__title {
  font-size: 36px;
  text-align: center;
  padding-top: 27px;
}

.promo__subtitle {
  text-align: center;
  text-transform: uppercase;
}
