.special__title {
  font-size: 36px;
  line-height: 40px;
}

.special__text {
  font-family: Arial, Helvetica, sans-serif;
  color: @special_dark-grey;
  line-height: 18px;
}

.special__list {
  list-style: none;
  padding-left: 0;
}
.special__item {
  background-size: 60px 60px;
  height: 60px;
  padding-left: 80px;
}

.special__item--useful {
  background-image: url("../../img/special-1-useful.png");
  background-repeat: no-repeat;
}

.special__item--powder {
  background-image: url("../../img/special-2-powder.png");
  background-repeat: no-repeat;
}

.special__item--nutrition {
  background-image: url("../../img/special-3-nutrition.png");
  background-repeat: no-repeat;
}

.special__item--time {
  background-image: url("../../img/special-4-time.png");
  background-repeat: no-repeat;
}
